Which NYC schools have the best math results?

The best math results are at least 80% of the *maximum possible score of 800* for math.
Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.
What are the top 10 performing schools based on the combined SAT scores?

Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order.
Which single borough has the largest standard deviation in the combined SAT score?

Save your results as a pandas DataFrame called largest_std_dev.
The DataFrame should contain one row, with:
"borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
"num_schools" - the number of schools in the borough.
"average_SAT" - the mean of "total_SAT".
"std_SAT" - the standard deviation of "total_SAT".
Round all numeric values to two decimal places.

In [57]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Best math schools 
best_math_schools = schools.loc[:,['school_name','average_math']].sort_values('average_math', ascending= False)[schools['average_math'] >= 640]

# Calculate the total SAT score for each school
schools['total_SAT'] = schools[['average_math', 'average_reading', 'average_writing']].sum(axis=1)

# Sort schools by their total SAT score and get the top 10
top_10_schools = schools.nlargest(10, 'total_SAT').loc[:,['school_name','total_SAT']]

# Calculate the average, standard deviation of SAT scores and number of schools per borough
stats_per_borough = pd.DataFrame()
stats_per_borough['average_SAT'] = schools.groupby('borough')['total_SAT'].mean().round(2)
stats_per_borough['std_SAT'] = schools.groupby('borough')['total_SAT'].std().round(2)
stats_per_borough['num_schools'] = schools.groupby('borough')['school_name'].count()

# Find the borough with the largest standard deviation in SAT scores
largest_std_dev = stats_per_borough.sort_values('std_SAT', ascending = False).head(1)

largest_std_dev

           average_SAT  std_SAT  num_schools
borough
Manhattan      1340.13   230.29           89